/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 1:46:58 AM
    Author     : ahsanqureshi
*/

body{
    margin: 0px;
}
h1.BannerTxt{
    text-align: center;
    margin: 0px;
    height: 77px;
    line-height: 2.5em;
}

img.BannerImage{
    position: absolute;
    height: 70px;
    top: 3px;
    right: 3px;
}

div.NavBar{
    display: block;
    position: fixed;
    top: 80px;
    right: 2px;
    width: 150px;
    padding: 10px;
}

h3{
    margin: 5px;
}

div.Content{
    position: absolute;
    top: 80px;
    left: 0px;
    right: 175px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: 50px;
}

div.Content p {
    text-indent: 25px;
}

div.Content img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}

div.slideshow img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.slideshow p {
    color: black;
    margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
}

div.slideshow.buttons {
}

div.slideshow {
    display: block;
    padding-bottom: 5px;
    vertical-align: central;
    margin-bottom: 0px;
    text-align: center;
}

div.VideoComponent video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.VideoComponent p{
    text-align: center;
}