/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 12:08:27 AM
    Author     : Ahsan Qureshi
*/

body{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    text-align: left;
}

h1.BannerTxt{
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 50px;
    line-height: 2em;

}

img.BannerImage{
    position: absolute;
    height: 70px;
    top: 53px;
    right: 3px;
}

div.NavBar{
    position: absolute;
    width: 100%;
    height: 45px;
    top: 0px;
    margin-top: 5px;
    line-height: 2.5em;
}

h3{
    margin: 5px;
    display: inline;
}

a{
    padding-left: 10px;
}

div.Content{
    position: absolute;
    top: 127px;
    right: 0px;
    left: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    line-height: 1.5em;
    padding-bottom: 50px;
}

div.Content p {
    text-indent: 25px;
}

div.Content img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}

div.slideshow img {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.slideshow p {
    color: black;
    margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
}

div.slideshow.buttons {
}

div.slideshow {
    display: block;
    padding-bottom: 5px;
    vertical-align: central;
    margin-bottom: 0px;
    text-align: center;
}

div.ImageComponent p{
    text-align: center;
}

div.VideoComponent video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.VideoComponent p{
    text-align: center;
}