/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:48:03 PM
    Author     : ahsanqureshi
*/


body{
    background-color: blue;
}

div.NavBar{
    background-color: black;
    
}

a{
    text-decoration: none;
    font-weight: bold;
}

h1.BannerTxt{
    font-size: 24pt;
    color: yellow;
    background-color: black;

}

a.nav {
    color: red;
    font-size: 12pt;
}

a.open_nav {
    color: blue;
    font-size: 18pt;
}

a.nav:hover{
    color: grey;
}

a:hover {
    color: grey;
}

div.Content{
    background-color: black;
    color: yellow;
}

h4{
    color: pink;
}

div.Content a{
    color: green;
}