/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 6:29:52 PM
    Author     : ahsanqureshi
*/

body{
    background-color: #2899ff;
}

div.NavBar{
    background-color: lightblue;
}

a{
    text-decoration: none;
    font-weight: bold;
}

h1.BannerTxt{
    font-size: 24pt;
    color: black;
    background-color: beige;
   
}

a.nav {
    color: black;
    font-size: 12pt;
}

a.open_nav {
    color: black;
    font-size: 18pt;
}

a.nav:hover, a.open_nav:hover{
    color: whitesmoke;
}

div.Content{
    background-color: white;
  
}

h4{
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
}