/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 7:31:35 PM
    Author     : ahsanqureshi
*/

body{
    background-color: darkgray;
}

div.NavBar{
    background-color: black;
    
}

a{
    text-decoration: none;
    font-weight: bold;
}

h1.BannerTxt{
    font-size: 24pt;
    color: white;
    background-color: #990000;

}

a.nav {
    color: white;
    font-size: 12pt;
}

a.open_nav {
    color: white;
    font-size: 18pt;
}

a.nav:hover{
    color: rgb(118,143,165);
}

a:hover {
    color: rgb(118,143,165);
}

div.Content{
    background-color: white;
}