/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 2:08:03 AM
    Author     : ahsanqureshi
*/

body{
    background-color: white;

}

h1.BannerTxt {
    background-color: lightpink;
    font-size: 24pt;
    color: honeydew;
}

div.NavBar{
    background-color: lightblue;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a.nav {
    color: white;
    font-size: 12pt;
}

a.open_nav {
    color: white;
    font-size: 18pt;
    font-weight: bold;
}

a.nav:hover{
    color: rgb(118,143,165);
}

a:hover {
    color: rgb(118,143,165);
}

div.Content{
    background-color: honeydew;
}

div.Content h4 {
    font-size: 16pt;
    font-weight: bold;
    color: green;
}
